<html>
    <head>
<script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <label for="">Message:</label>
        <input type="text" id="msg">
        <input type="submit" onclick="send()">

    </body>
    <script>
        const socket=io.connect()
        socket.on('msg',(data)=>{
            console.log(data)
            p=document.createElement("p")
            p.innerText=data
            document.body.append(p)

        })
        socket.on('msg1',(data)=>{
            console.log(data)
            p=document.createElement("p")
            p.innerText=data
            document.body.append(p)

        })
        x=document.getElementById('msg')
        function send(){
            socket.emit('msg1',x.value)

        }
    </script>
</html>
